.card-img {
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.container {
    width: 30%;
    height: 50%;
    perspective: 800px;
    float: left;
    margin-left: 20px;
    margin-bottom: 30px;
}

.card {
    width: 100%;
    height: 100%;
    /* 뒷면 가시성 */
    backface-visibility: hidden;
    transition: 0.5s;
    border-radius: 20px;
}

.front {
    position: absolute;
    background-color: white;
    box-shadow: 5px 5px 5px gray;
    /* deg => 각의 단위 degree, 원 한바퀴를 360도로 표현하는 방법 */
}

.back {
    position: absolute;
    box-shadow: 5px 5px 5px gray;
    color: white;
    opacity: 0;
}

.frontcard-text {
    position: absolute;
    top: 85%;
    right: 10%;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #e0e0e0;
    transition-duration: 0.3s;
}

.backcard-text {
    position: absolute;
    left: 5%;
    top: 5%;
    font-family: 'Noto Sans KR', sans-serif;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 20px;
    top: 0;
    opacity: 0.5;
}

.container:hover .front {   
    z-index: -2; 
    opacity: 1;
}

.container:hover .back {
    opacity: 1;
}

.container:hover .back .overlay {    
    z-index: -1;
}

.container:hover .frontcard-text {
    color: transparent;
}

.readmore {
    position : absolute;
    right: 6%;
    top: 84%;
    width : 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: black;
    transition-delay: 0.3s;
    transition-duration: 0.5s;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
}
.container:hover .back .readmore {
    color: white;
}

ul {
    list-style-type: none;
}

.icon_btn {
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow:  4px 4px 5px #202020;
    margin: 5px 5px;
    color: black;
}

.icon_btn:hover {
    cursor: pointer;
}

.button-bar {
    float: right;
}

.likedplace {
    color: red;
}

@media (max-width : 1024px) {
    .container {
        width: 45%;
    }
}
@media (max-width : 768px) { 
    .container {
        width: 100%;
    }
}